@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root
{
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    min-height: 100vh;
    background-color: var(--white);
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0, right 0 bottom 0;
}

.container 
{
    padding: 8.2rem 10.3rem 0;
    display: flex;
    flex-direction: column;
}

.box-info
{
    display: flex;
    justify-content: space-between;
}

.split:first-of-type
{
    max-width: 28rem;
}

.split h1
{
    font-size: 3rem;
    font-weight: 700;
    color: var(--very-dark-magenta);
    line-height: 3rem;
    letter-spacing: -0.1rem;
}

.split p 
{
    color: var(--dark-grayish-magenta);
    font-weight: 400;
    line-height: 1.58rem;
    padding-top: 0.8rem;
    
}

.split:last-of-type
{
    flex-basis: 33.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.review 
{
    width: 82%;
    border-radius: 0.5rem;
    background-color: var(--light-grayish-magenta);
    display: flex;
    padding: 1.1rem 1.9rem;
}

.review:nth-of-type(2)
{
    align-self: center;
}

.review:last-of-type
{
    align-self: flex-end;
}

.review h2
{
    font-size: 0.83rem;
    font-weight: 700;
    color: var(--very-dark-magenta);
    align-items: center;
}

.stars
{
    padding-right: 1.75rem;
}

.stars img 
{
    padding-right: 0.25rem;
}

.box-info:last-of-type
{
    margin-top: 4.35rem;
    min-height: 16.6425rem;
}

.purple-box
{
    background-color: var(--very-dark-magenta);
    padding: 2.5rem 2rem 2.4rem;
    border-radius: 0.5rem;
    max-width: 21.97rem;
    max-height: 14.6975rem;
}

.purple-box:nth-of-type(2)
{
    align-self: center;
    margin: 0 1rem;
}

.purple-box:last-of-type
{
    align-self: flex-end;
}

.customer
{
    display: flex;
}

.customer img 
{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.customer-info 
{
    padding-left: 1.45rem;
}

.customer-info h3 
{
    color: var(--light-grayish-magenta);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.3rem 0;
}

.customer-info p
{
    color: var(--soft-pink);
    font-size: 0.8rem;
}

.purple-box > p 
{
    color: var(--light-grayish-magenta);
    margin-top: 1.7rem;
    font-size: 0.795rem;
    line-height: 1.4rem;
}

@media (max-width: 56em) 
{
    .container
    {
        padding: 8.2rem 2rem 0;
    }
}

@media (max-width:33.5em) 
{
    .container
    {
        padding-top: 5.3rem;
        padding: 5.2rem 1.5rem 0;
    }

    body
    {
        background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat;
        background-position: left 0 top 0, right 0 bottom 0;
    }
}

@media (max-width: 80.5em) 
{
    .box-info .split .review 
    {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
}

@media (max-width: 66em) 
{
    .box-info:first-of-type
    {
        flex-direction: column;
        align-items: center;
    }

    .box-info:first-of-type h1, .box-info:first-of-type p
    {
        text-align: center;
    }

    .box-info .split:last-of-type
    {
        margin-top: 2rem;
        width: 100%;
        flex-basis: 13rem;
    }

    .box-info .split:last-of-type .review
    {
        width: 100%;
    }

    .box-info:last-of-type
    {
        margin: 1.5rem 0 0;
    }
}

@media (max-width: 33.5em)
{
    .split h1 
    {
        font-size: 2rem;
        line-height: 2rem;
    }

    .split p 
    {
        font-size: 1rem;
        padding-top: 1.5rem;
    }

    .review
    {
        padding: 1rem 2rem;
        margin-bottom: 1rem;
    }

    .stars img 
    {
        padding-right: 0.2rem;
    }

    .stars img:last-of-type
    {
        padding-right: 0;
    }

    .stars
    {
        padding: 0;
        padding-bottom: 0.5rem;
    }

    .box-info:last-of-type
    {
        margin: 1rem 0 0;
    }

    .purple-box
    {
        padding: 1.5rem 2rem 2rem;
    }
}

@media (max-width:78.5rem)
{
    .purple-box
    {
        max-height: 17rem;
        padding: 2rem 1.5rem 2rem;
    }
}

@media (max-width: 62.5rem)
{
    .box-info:last-of-type
    {
        flex-direction: column;
        align-items: center;
        min-height: none;
    }

    .purple-box
    {
        max-width: none;
        width: 100%;
        margin: 1rem 0;
    }
}






